@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900;9..40,1000&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&family=Poppins:wght@100;200;300;400;500;600;700;800&family=Public+Sans:wght@100;200;300;400;500;600;700;800;900&family=Red+Hat+Display:wght@300;400;500;600;700;800;900&family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900;9..40,1000&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Public+Sans:wght@100;200;300;400;500;600;700;800;900&family=Red+Hat+Display:wght@300;400;500;600;700;800;900&family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900;9..40,1000&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Public+Sans:wght@100;200;300;400;500;600;700;800;900&family=Red+Hat+Display:wght@300;400;500;600;700;800;900&family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Nunito Sans;

}
a{
    text-decoration: none;
}
button{
    border:none;
}

.container{
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
}
    /* HEADER */
    header{
        padding: 10px 0;
        border-radius: 0 0 40% 40%;
    }
header:hover{
    padding:20px 0;
    box-shadow: 5px 3px 15px 3px rgba(255,21,32,23);
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header nav{
    display: flex;
    align-items: center;
    gap: 150px;
}
.header nav a{
    color: #282A30;
font-feature-settings: 'clig' off, 'liga' off;
font-size: 19px;
font-weight: 400;
line-height: 22.8px; 
letter-spacing: 1px;
gap: 30px;
}
.header nav a:hover{
    color: blue;
    border-bottom: 2px solid blue;
    border-top: 2px solid blue;
}
.header h1{
    color: #282A30;
font-feature-settings: 'clig' off, 'liga' off;
font-size: 40px;
font-weight: 900;
line-height: 48px; 
letter-spacing: 1px;
}

.head-icon{
    display: flex;
    align-items: center;
    gap: 40px;
}
.header-icon path:hover{
    fill: blue;
        
}
    /* HEADER */
    /* HERO */
#hero{
    padding: 50px 0;
}
.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero-title h3{
    color: #F7515C;
font-size: 20px;
font-weight: 700;
line-height: 0%; 
}
.hero-title h1{
    color: #282A30;
font-size: 55px;
font-weight: 700;
margin: 30px 0;
}
.hero-btn{
    display: flex;
    align-items: center;
    gap: 30px;
}
.hero-btn button{
    color: black;
    font-size: 20px;
    font-weight: 600;
    width: 207px;
    height: 78px;
    background: transparent;
}
.hero-btn button:hover{
    background: #F7515C;
}
.hero-btn-rigth{
    display: flex;
    align-items: center;
    gap: 20px;
}
.hero-svg-rigth{
    margin-left: 20px;
}
    /* HERO */



/* about */

#about{
    padding: 200px 0; 
}
.about-img{
    position: relative;
    display: flex;
    align-items: end;
    /* justify-content: space-between; */
    /* gap: 230px; */
}
.img-oun{
    position: absolute;
    top: 1px;
    z-index: -99;
}
.about-title h2{
    color: #282A30;
font-size: 60px;
font-weight: 700;
}
.about-title h1{
font-size: 100px;
font-weight: 700;
border-color: 2px solid #282A30;
}
.about-title p{
    color: rgba(40, 42, 48, 0.50);
font-size: 22px;
font-weight: 400;
margin: 30px 0;
line-height: 40px;
}
.about-title button{
    color: #FFF;
font-size: 22px;
font-weight: 600;
    width: 230px;
height: 78px;
    background: #F7515C;
}
.about-title button:hover{
    background: rgb(216, 26, 26);
}
.box{
    position: absolute;
    z-index: -99;
    top: 290px;
    left: 220px;
    width: 340px;
height: 305px;
background: black;
}
.bocs{
    top: 500px;
    left: -50px;
    z-index: -99;
    position: absolute;
    width: 150px;
    height: 200px;
    background: black;
}
.tochki{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 523px;
    height: 46px;
    svg path{
        fill: #3b4c68;
        /* opacity: 0.1; */
    }
}
.tochki svg path:hover{
    fill: red;
}
.toch{
    width: 9.096px;
height: 9.775px;
    
}
.about-tochki{
    top: 350px;
    left: 80px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
align-items: center;
justify-content: space-between;
}
/* about */

/* more */

#more{
    padding: 200px 0;
}
.img-more{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 0;
    /* z-index: -99; */
}
.more-title-bir{
    position: absolute;
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 20px 0;
    background: #FFF;
    box-shadow: 20px 4px 100px 0px rgba(0, 0, 0, 0.10);
    width: 449px;
    height: 199px;
    left: -20px;
    top: 150px;
}
.more-title-bir:hover{
    background: transparent;
    color: blue;
    box-shadow: 4px 5px 15px 15px;
    font-size: 20px;
}
.morgon{
    box-shadow: 10px 10px 100px 5px;
    z-index: -99;
}
svg{
  flex-direction: column; 
  flex-wrap: wrap;
   
}
.svg{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 523px;
    height: 46px;
    right: 500px;
    top: -120px;
    svg path{
        fill: #ff0000;
    }
}
.svgg{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 523px;
    height: 46px;
    right: 500px;
    top: -70px;
    svg path{
        fill: #3b4c68;
    }
}
.svv{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 523px;
    height: 46px;
    right: 500px;
    top: 110px;
    svg path{
        fill: #3b4c68;
    }
}
.svgss{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 523px;
    height: 46px;
    right: 500px;
    top: 30px;
    svg path{
        fill: #3b4c68;
    }
}
.svg-svg{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 523px;
    height: 46px;
    right: 500px;
    top: 80px;
    svg path{
        fill: #3b4c68;
    }
}
.svg-svv{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 523px;
    height: 46px;
    right: 500px;
    top: 140px
    svg path {
        fill: #3b4c68;
    }
}
.tochka-svg{
    

top: 350px;
left: 80px;
position: relative;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-between;
    svg path{
        fill: black;
    }
    
}
.more-title-eki{
    position: absolute;
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 20px 0;
    background: #FFF;
    box-shadow: 20px 4px 100px 0px rgba(0, 0, 0, 0.10);
    width: 449px;
    height: 199px;
    left: 600px;
    top: -50px;
    font-size: 17px;
    font-weight: 500;
    /* z-index: -99; */
}
.more-title-eki:hover{
    color: blue;
    background: transparent;
    box-shadow: 4px 5px 15px 15px;
    font-size: 20px;
}
.more-title-ych{
    position: absolute;
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 20px 0;
    background: #ffffff;
    box-shadow: 20px 4px 100px 0px rgba(0, 0, 0, 0.10);
    width: 450px;
    height: 199px;
    left: 750px;
    top: 500px;

}
.more-title-ych .bir:hover{
    color: blue;
    background: transparent;
    box-shadow: 5px 8px 15px 15px;
    font-size: 20px;

}
.more-title-eki .bir:hover{
    color: blue;
    background: transparent;
    box-shadow: 5px 8px 15px 15px;
    font-size: 20px;

}
.more-title-bir .bir:hover{
    color: blue;
    background: transparent;
    box-shadow: 5px 8px 15px 15px;
    font-size: 20px;

}
.more-title-ych:hover{
    color: blue;
    background: transparent;
    box-shadow: 5px 8px 15px 15px;
    font-size: 20px;

}
.more-title-bir .bir{
    color: #F7515C;
    font-size: 25px;
    font-weight: 700;
    background: #F7515C0D;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.more-title-eki .bir{
    color: #F7515C;
    font-size: 25px;
    font-weight: 700;
    background: #F7515C0D;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.more-title-ych .bir{
    color: #F7515C;
    font-size: 25px;
    font-weight: 700;
    background: #F7515C0D;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.more-svg{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    top: 500px;
    left: 400px;    
}
/* more */

/* PORODUKT */

.product{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pro-head h2{
    margin: 20px 0;
    color: #282A30;
font-size: 40px;
font-weight: 600;
}
.icon-pro{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.icon {
    padding: 3px;
    width: 30px;
    height: 30px;
    border: 2px solid #2c2c2e;
    border-radius: 5px;
    
}
.icon:hover {
    border: 2px solid #0000c9;
    color: #0000c9;    
    
        fill:blue;
    
}
.pro-block h2{
    color: #282A30;
font-size: 22px;
font-weight: 700;  
}
.pro-block p{
    color: rgba(40, 42, 48, 0.30);
font-size: 22px;
font-weight: 400;
}
.pro-blocks{
display: flex;
align-items: center;
justify-content: space-between;
overflow-x: scroll;
/* gap: 20px; */
}
.pro-block{
    text-align: center;
width: 500px;
}
.badroom{
    width: 300px;
    height: 300px;
    padding: 50px 0 150px 0;
}
::-webkit-scrollbar{
    width: 15px;
}
/* PORODUKT */

    /* try */
section{
    padding: 50px 0;
}
.try{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.try-title h1{
    color: #282A30;
font-size: 100px;
font-weight: 700;
}
.try-title button{
    font-size: 28px;
    color: rgb(0, 0, 0);
    width: 240px;
    height: 90px;
    border-radius: 10px;
    background: #F7515C;
}
.try-title button:hover{
    background: orange;
    color: blue;
}
    /* try */
    /* FOOTER */
footer{
    padding: 50px 0;
}
hr{
    font-size: 20px;
    border: 2px solid  black;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-block h3{
    margin: 60px 0 30px 0;
    color: #282A30;
font-feature-settings: 'clig' off, 'liga' off;
font-size: 26px;
font-weight: 600;
line-height: 120%;
letter-spacing: 1px;
}
.footer-block h3:hover{
    border-bottom: 2px solid blue;

}
.footer-block{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer-block a{
    color: #282A30;
}
.footer-block a:hover{
border-bottom: 2px solid blue;
}
      /* FOOTER */






